# Function dependencies, for example:
# package>=version
Flask
gunicorn
google-cloud-bigquery
google-cloud-storage
google-cloud-error-reporting
pandas
contendo_utils
ta
gcsfs
statsmodels
newspaper3k
nltk
